.child{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    gap: 70px;
}
#btn1{
    width: 200px;
    height: 50px;
    background-color: rgb(55, 226, 55);
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: none;
}
#btn2{
    width: 200px;
    height: 50px;
    background-color: rgb(226, 61, 55);
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: none;
}

